---
const { title = "Ngr Wisnu - Frontend Web Developer" } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="description"
    content="Ngr Wisnu is a front-end web developer, skilled in ui design, frontend, and backend development, with a focus on using JavaScript and its libraries and frameworks to build modern web applications."
  />
  <meta
    name="keywords"
    content="Web Developer, Frontend Developer, Javascript Developer, React Developer, Next Developer, Svelte Developer, Astro Developer, UI Designer"
  />
  <meta property="og:image" content="/opengraph-image.jpg" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
</head>
