---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/header/Header.svelte";
import Footer from "@/components/Footer.svelte";
import "@fontsource/inter";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <BaseHead />
  <body>
    <Header client:load />
    <main class="mb-20 flex w-full flex-col items-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
  }
</style>
